.bodyConfiguracoesContainer {
    /* display: none; */
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.configuracoesContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
}

.configuracoesEBotaoContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

.tituloELista:nth-of-type(2){
    margin-left: 1%;
}

.listaConfiguracoesContainer{
    width: 100%;
    height: 92%;
    /* padding: 1% 2%; */
    overflow-y: scroll;
    background-color: rgba(236, 240, 241,0.6);
    border: 1px solid #bdc3c7;
    border-radius: 15px;
}

.listaConfiguracoesContainer::-webkit-scrollbar{
    display: none;
}

.liConfiguracaoContainer{
    display: flex;
    width: 100%;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bdc3c7;
}

.operadorEEquipamentoNome{
    width: 55%;
    text-transform: uppercase;
    /* background-color: red; */
}

.operadorEEquipamentoStatus{
    width: 25%;
}

/* .detalhesIndisponibilidade{
    display: flex;
    font-size: 11px;
    width: 20%;
    gap: 5px;
} */

.operadorEEquipamentoNome, .operadorEEquipamentoStatus{
    font-size: 12px;
    letter-spacing: 1px;
}

.controlesConfiguracaoContainer{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.personalizadoBtnTela3{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: #fff;
        /* height: 5%; */
    background-color: #3E7670;
    cursor: pointer;
    /* overflow: hidden; */
    border-radius: 8px;
    
}

.personalizadoBtnContainerTela3{
    width: 100%;
    height: 4%;
    /* background-color: ; */
    text-align: center;
}


.switchContainer{
    width: 50px;
    height: 25px;
    display: flex;
    background-color: rgba(192, 57, 43,1.0);
    /* border: 2px solid rgba(192, 57, 43,1.0); */
    border-radius: 20px;
    align-items: center;
    justify-content: start;
    padding: 2px;
    transition: 0.3s;
    /* justify-content: center; */
}

.toggleButton{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;

}
.switchContainer.active{
    background-color: #3E7670;
    /* justify-content: end; */
    
}

.liConfiguracaoContainer:has(.controlesConfiguracaoContainer > :not(.switchContainer.active)){
    background-color: rgba(231, 76, 60,0.8);
    color: #fff;
}

.switchContainer.active .toggleButton{
    transform: translateX(130%);
}

.personalizadoBtnTela3[resetarBancoDados]{
    width: 10%;
    height: 80%;
    font-size: 13px;
    background-color: rgba(192, 57, 43,1.0);
}

.personalizadoBtnTela3[resetarBancoDados]:hover{
    animation: pulsar 2s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

.imageAndTextTela3Container{
    justify-content: space-between;
    gap: 5px;
    width: 70%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

@keyframes pulsar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.headerContainerTela3{
    /* background-color: #009879; */
    display: flex;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: 0.7px solid #bdc3c7;
    width: 100%;
    height: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}