<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <!-- <link rel="stylesheet" href="tela2.css"> -->
    <!-- <link rel="stylesheet" href="config.css"> -->
    <!-- <link rel="stylesheet" href="tela4.css"> -->
    <link rel="icon" href="../../assets/images/Hydro logo vertical/hydro_logo_vertical_black.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Gerador de Escalas</title>

</head>
<!-- 
<div class="screen-loading-container mostrar">
    <div class='loading-image-container'>
        <img src="../../assets/images/hydro_logo_vertical_negative.png" alt="">
    </div>
    <div class="loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div class="component-loading-container">
    <div class='loading-image-container'>
        <img src="../../assets/images/hydro_logo_vertical_blue.png">
    </div>
    <div class=" loading-progress">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div> -->

<body>

    <main class="main-container">
        <form class="login-container">
            <section class="header-login-container">
                <div class="image-container">
                    <img src="../../assets/images/hydro_logo_vertical_blue.png">
                </div>
                <h1 class="header-login-title">Login - Gerador de Escalas</h1>
            </section>
            <section class="body-login-container">
                <input id="username" type="text" placeholder="Matrícula - Ex.: A111111">
                <input id="password" type="password" placeholder="Senha" minlength="8" maxlength="16">
            </section>
            <section class="footer-login-container">
                <button id="btn-entrar">Entrar</button>
            </section>
        </form>
    </main>

</body>


<script src="./index.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</html>